body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: Microsoft Yahei,sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}

select{
    appearance: none;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {-webkit-appearance: none;}


.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.hide{
    display: none;
}

.sheng1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sheng2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

//flex
.flex-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-v {
    display: flex;
    align-items: center;
}
.flex-h {
    display: flex;
    justify-content: center;
}

.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
